.login-form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 2.5rem;

    &__forgot-btn {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &__login-btn {
        width: 100px;
    }
}

.cfa-logo {
    align-self: center;
    width: 100px;
    height: 100px;
}

@media (max-width: 500px) {
    .login-form {
        padding: 0;
        border: none;
    }

    .cfa-logo {
        width: 80px;
        height: 80px;
    }
}
