.register-form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 2.5rem;
}

.cfa-logo {
    align-self: center;
    width: 100px;
    height: 100px;
}
