.reset-pass-form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 3.5rem;

    &__submit-btn {
        width: 100px;
    }

    &__back-btn {
        padding-left: .4rem;
        padding-right: .4rem;
    }
}

.cfa-logo {
    align-self: center;
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
}

@media (max-width: 500px) {
    .reset-pass-form {
        padding: 0;
        border: none;
    }

    .cfa-logo {
        width: 80px;
        height: 80px;
    }
}