.update-pass-form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 3.5rem;

    &__submit-btn {
        width: 100%;
    }
}