$color-white: #ffff;
$color-light-gray: #F2F3F5;
$color-dark-gray: #607083;
$color-cfa-red: #DD0031;
$color-blue: #3F52B5;
$color-light-charcoal: #36393F;
$color-med-charcoal: #2F3136;
$color-dark-charcoal: #2b2e33;
$color-black: #202225;