.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

@keyframes fadeOut {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-moz-keyframes scaleIn { /* Firefox */
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes scaleIn { /* Safari and Chrome */
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-o-keyframes scaleIn { /* Opera */
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
