.u-two-form-field {
    margin-right: 1rem;
}

.u-xs-margin-bottom {
    margin-bottom: .5rem;
}

.u-xs-margin-top {
    margin-top: .5rem !important;
}

.u-sm-margin-top {
    margin-top: 1rem !important;
}

.u-sm-margin-right {
    margin-right: 1rem;
}

.u-sm-margin-bottom {
    margin-bottom: 1rem;
}

.u-md-margin-top {
    margin-top: 1.5rem;
}

.u-md-margin-bottom {
    margin-bottom: 1.5rem !important;
}

.u-slight-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.u-icon-center-inline {
    vertical-align: middle;
    margin-right: 3px;
    margin-top: 4px !important;
}