<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit(updatePasswordForm)" class="update-pass-form">
    <div class="mat-h1">Update Password</div>
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"formControlName="newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="updatePasswordForm.get('newPassword')">{{getFormErrors('newPassword')}}</mat-error>
      <mat-error *ngIf="noMatch">Passwords must match.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
        formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="updatePasswordForm.get('confirmPassword')">{{getFormErrors('confirmPassword')}}</mat-error>
      <mat-error *ngIf="noMatch">Passwords must match.</mat-error>
    </mat-form-field>
      <button *ngIf="!isLoading" mat-flat-button type="submit" class="u-xs-margin-top update-pass-form__submit-btn" 
        color="primary">Submit</button>
      <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="35"></mat-spinner>
  </form>