<div class="space-between">
  <h2 mat-dialog-title>Cares</h2>
  <button mat-icon-button class="exit-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form class="cares-form-modal">
  <div class="single-row">
    <mat-form-field appearance="outline" class="u-two-form-field">
      <mat-label>Guest name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Guest phone number</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="single-row">
    <mat-form-field appearance="outline" class="u-two-form-field">
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Issue</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Mode of visit</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Team member position (optional)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Leader name</mat-label>
    <input matInput>
  </mat-form-field>
  <button mat-flat-button color="primary">Submit</button>
</form>