<div class="space-between">
  <h2 mat-dialog-title>Cares</h2>
  <button mat-icon-button class="exit-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<form [formGroup]="caresForm" (ngSubmit)="onSubmit(caresForm)" class="cares-form-modal">
  <div class="single-row u-md-margin-top">
    <mat-form-field appearance="outline" class="u-two-form-field">
      <mat-label>Guest name</mat-label>
      <input matInput formControlName="guestName">
      <mat-error *ngIf="caresForm.get('guestName')">{{getFormErrors('guestName')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Guest phone number</mat-label>
      <input matInput type="number" pattern="[0-9]" formControlName="guestPhoneNumber">
    </mat-form-field>
  </div>

  <div class="single-row">
    <mat-form-field appearance="outline" class="u-two-form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" (selectionChange)="onCategoryChange($event)">
        <mat-option *ngFor="let category of categories" [value]=category.value>
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="caresForm.get('category')">{{getFormErrors('category')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Issue</mat-label>
      <mat-select formControlName="issue" multiple (selectionChange)="onIssueChange($event)">

        <ng-container *ngIf="selectedCategory === 'foodQuality'">
          <mat-option *ngFor="let quality of foodQuality" [value]=quality.value>
            {{quality.name}}
          </mat-option>
        </ng-container>

        <ng-container *ngIf="selectedCategory === 'service'">
          <mat-option *ngFor="let service of services" [value]=service.value>
            {{service.name}}
          </mat-option>
        </ng-container>

        <ng-container *ngIf="selectedCategory === 'missingItems'">
          <mat-option *ngFor="let item of missingItems" [value]=item.value>
            {{item.name}}
          </mat-option>
        </ng-container>

      </mat-select>
      <mat-error *ngIf="caresForm.get('issue')">{{getFormErrors('issue')}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field *ngIf="other" appearance="outline">
    <mat-label>Other (Explanation)</mat-label>
    <input matInput formControlName="otherExplanation">
    <mat-error *ngIf="caresForm.get('otherExplanation')">{{getFormErrors('otherExplanation')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mode of visit</mat-label>
    <mat-select formControlName="modeOfVisit">
      <mat-option *ngFor="let mode of modesOfVisit" [value]=mode.value>{{mode.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="caresForm.get('modeOfVisit')">{{getFormErrors('modeOfVisit')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Team member position (optional)</mat-label>
    <input matInput formControlName="teamMemberPosition">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Leader name</mat-label>
    <input matInput formControlName="leaderName">
    <mat-error *ngIf="caresForm.get('leaderName')">{{getFormErrors('leaderName')}}</mat-error>
  </mat-form-field>
  <div class="single-row justify-center">
    <button *ngIf="!submitting" mat-flat-button color="primary" type="submit" class="u-xs-margin-top">Submit</button>
    <mat-spinner *ngIf="submitting" [diameter]="40"></mat-spinner>
  </div>
</form>