@import '../../../../base/animations';

.fs-form-modal {
    display: flex;
    flex-direction: column;

    &__upload-btn {
        width: 240px;
        margin-bottom: 1.5975em;
    }
}

.fs__img-preview {
    animation: scaleIn .25s;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    cursor: default;
    
    &-btn {
        width: 100px !important;
    }
}

.mat-flat-button {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}