@import '../../../../abstracts/variables';

.grid-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 3rem;
  margin: 1.5rem 0;
  padding: 2rem;
  overflow-x: hidden; 
  background-color: $color-light-gray;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 10px;
}

.single-item {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 700px));
  grid-gap: 1rem;
  margin: 1.5rem 0;
  overflow-x: hidden; 
  justify-content: center;
  align-items: center;
}

.chart-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem;
  background-color: $color-white;
  border-radius: 6px;
}