.item-order {
    padding: 2rem;
    padding-top: 1rem;
}

mat-form-field {
    width: 100%;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-flat-button {
    width: 100%;
}
