<mat-toolbar class="top-nav" [ngClass]="{'dark-mode': navigatedToAdmin}">
    <div class="top-nav__container">
        <span class="top-nav__container-name" [ngClass]="{'dark-mode': navigatedToAdmin}">{{user.firstName}} {{user.lastName}}</span>
        <img [src]=profileImg alt="" class="top-nav__container-img">
        <button class="top-nav__container-menu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="!navigatedToAdmin && user.adminPrivilege" mat-menu-item (click)="goToAdmin()">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Admin</span>
            </button>
            <button *ngIf="navigatedToAdmin" mat-menu-item (click)="goToDashboard()">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-menu-item (click)="openAccountSettings()">
                <mat-icon>settings</mat-icon>
                <span>Account settings</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>