<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="reset-pass-form">
    <img class="cfa-logo" [src]=cfaLogo>
    <div class="mat-h1">Reset Password</div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="resetPasswordForm.get('email')">{{getFormErrors('email')}}</mat-error>
    </mat-form-field>
    <div class="space-between">
      <button mat-button type="button" (click)="goToLogin()"
        class="u-xs-margin-top reset-pass-form__back-btn" 
        color="primary">Back to Login</button>
      <button *ngIf="!isLoading" mat-flat-button type="submit"
        class="u-xs-margin-top reset-pass-form__submit-btn" 
        color="primary">Submit</button>
      <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="35"></mat-spinner>
  </div>
  </form>