<nav class="side-nav">
    <div class="side-nav__wrapper">
        <img class="side-nav__logo" [src]=cfaLogo alt="">
    </div>
    <li class="side-nav__list">
        <div *ngFor="let feature of features; index as i;" class="side-nav__list-item">
            <a mat-fab [matTooltip]=feature.matToolTip matTooltipPosition="right" [routerLink]="feature.feature"
               routerLinkActive="side-nav__list-btn-active"
                class="side-nav__list-btn u-icon-center-inline">
                <mat-icon class="side-nav__list-icon">{{feature.icon}}</mat-icon>
            </a>
        </div>
    </li>
</nav>