<div class="space-between">
  <h2 mat-dialog-title>Team Member Attendance</h2>
  <button mat-icon-button class="exit-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="teamAttendanceForm" class="attendance-form-modal" (ngSubmit)="onSubmit(teamAttendanceForm)">
  <mat-form-field appearance="outline">
    <mat-label>Team member name</mat-label>
    <input matInput formControlName="teamMemberName">
    <mat-error *ngIf="teamAttendanceForm.get('teamMemberName')">{{getFormErrors('teamMemberName')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Issue</mat-label>
    <mat-select (selectionChange)="onIssueChange($event)" formControlName="issue">
      <mat-option *ngFor="let issue of issues" [value]=issue.value>{{issue.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="teamAttendanceForm.get('issue')">{{getFormErrors('issue')}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="sick" appearance="outline">
    <mat-label>Reported symptoms</mat-label>
    <mat-select formControlName="reportedSymptoms" multiple>
      <mat-option *ngFor="let symptom of symptoms" [value]=symptom.value>{{symptom.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="teamAttendanceForm.get('reportedSymptoms')">{{getFormErrors('reportedSymptoms')}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="other" appearance="outline">
    <mat-label>Other (explanation)</mat-label>
    <input matInput formControlName="otherExplanation">
    <mat-error *ngIf="teamAttendanceForm.get('otherExplanation')">{{getFormErrors('otherExplanation')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Notes (optional)</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Leader name</mat-label>
    <input matInput formControlName="leaderName">
    <mat-error *ngIf="teamAttendanceForm.get('leaderName')">{{getFormErrors('leaderName')}}</mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>