<div class="financial-services">
    <div class="single-row u-xs-margin-bottom">
        <button mat-icon-button class="refresh-data-btn" 
                matTooltip="Refresh Data" 
                matTooltipPosition="above"
                (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
        </button>
        <div class="mat-h1">Financial Services</div>
        <button mat-mini-fab matTooltip="Add Data"
                [matTooltipPosition]="toolTipPosition.value" class="add-btn-fab grow"
                (click)="openFinancialServicesFormModal()">
            <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="deleteState" mat-mini-fab matTooltip="Delete Data" 
                 matTooltipPosition="above" 
                 class="delete-btn-fab grow"
                 (click)="deleteData()">
                 <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="viewImgState" mat-mini-fab matTooltip="View Image"
                color="primary" 
                matTooltipPosition="right" 
                class="view-img-btn-fab grow"
                (click)="viewImg()">
                <mat-icon>image</mat-icon>
        </button>
    </div>
    <mat-tab-group animationDuration="0ms" class="financial-services__tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                Data
                <mat-icon class="tab-icon">list</mat-icon>
            </ng-template>
            <app-financial-services-data-table></app-financial-services-data-table>
        </mat-tab>
    </mat-tab-group>
</div>
