<mat-toolbar class="reset-password__toolbar">
  <div class="mat-h2 reset-password__header">Reset Password</div>
</mat-toolbar>
<div class="reset-password">
  <ng-container *ngIf="!displayUpdatePasswordForm">
    <p mat-body class="reset-password__label">Enter four digit code</p>
    <form [formGroup]="passcodeForm" class="reset-password__form">
      <mat-form-field appearance="outline" class="reset-password__form-field">
        <input matInput formControlName="numOne" autofocus type="number"
          onKeyPress="if(this.value.length==1) return false;">
      </mat-form-field>
      <mat-form-field appearance="outline" class="reset-password__form-field">
        <input matInput formControlName="numTwo" type="number" onKeyPress="if(this.value.length==1) return false;">
      </mat-form-field>
      <mat-form-field appearance="outline" class="reset-password__form-field">
        <input matInput formControlName="numThree" type="number" onKeyPress="if(this.value.length==1) return false;">
      </mat-form-field>
      <mat-form-field appearance="outline" class="reset-password__form-field">
        <input matInput formControlName="numFour" type="number" onKeyPress="if(this.value.length==1) return false;">
      </mat-form-field>
    </form>
    <p mat-body class="reset-password__fail-message" *ngIf="resetPasscodeFailed">That code is incorrect.</p>
    <button *ngIf="!isLoading" (click)="cancel()" class="reset-password__btn-cancel" color="primary"
      mat-button>Cancel</button>
    <mat-spinner *ngIf="isLoading" class="spinner u-sm-margin-top" [diameter]="35"></mat-spinner>
  </ng-container>
  <app-update-password-form *ngIf="displayUpdatePasswordForm"></app-update-password-form>
</div>