<nav class="admin-side-nav">
    <div class="admin-side-nav__wrapper">
        <img class="admin-side-nav__logo" [src]=cfaLogo alt="">
    </div>
    <li class="admin-side-nav__list">
        <div *ngFor="let feature of adminFeatures; index as i;" class="admin-side-nav__list-item">
            <a mat-fab [matTooltip]=feature.matToolTip matTooltipPosition="right" 
                       [routerLink]="feature.feature"
                       [routerLinkActiveOptions]="{exact: true}" 
               routerLinkActive="admin-side-nav__list-btn-active"
                class="admin-side-nav__list-btn u-icon-center-inline">
                <mat-icon class="admin-side-nav__list-icon">{{feature.icon}}</mat-icon>
            </a>
        </div>
    </li>
</nav>