<nav class="admin-side-nav">
    <div class="admin-side-nav__wrapper">
        <img class="admin-side-nav__logo" [src]=cfaLogo alt="">
    </div>
    <li class="admin-side-nav__list">
        <div *ngFor="let feature of adminFeatures; index as i;" class="admin-side-nav__list-item">
            <button mat-fab [matTooltip]=feature.matToolTip matTooltipPosition="right" [ngClass]="{'admin-side-nav__list-btn-active': feature.selected}"
                class="admin-side-nav__list-btn u-icon-center-inline" (click)="onSelect(feature.feature)">
                <mat-icon class="admin-side-nav__list-icon">{{feature.icon}}</mat-icon>
            </button>
        </div>
    </li>
</nav>