.single-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .mobile-row {
        display: flex;
        flex-direction: column;
    }
}

