@import '../../abstracts/variables';
@import '../../base/animations';

.top-nav {
    animation: fadein .4s;
    -moz-animation: fadein .4s; /* Firefox */
    -webkit-animation: fadein .4s; /* Safari and Chrome */
    -o-animation: fadein .4s; /* Opera */

    position: absolute;
    top: 0;
    background-color: $color-white;
    box-shadow: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &-credits {
            margin-bottom: 0 !important;
            margin-right: .5rem;
            cursor: pointer;
        }

        &-img {
            vertical-align: middle;
            object-fit: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &-name {
            font-size: 18px;
            margin-right: 1rem;
        }

        &-menu {
            margin-left: .1rem;
        }
        
    }
}

.dark-mode {
    background-color: $color-med-charcoal !important;
    color: $color-white;
}
