<div class="cares">
    <div class="single-row u-xs-margin-bottom">
        <button mat-icon-button class="refresh-data-btn" matTooltip="Refresh Data" matTooltipPosition="above">
            <mat-icon>refresh</mat-icon>
        </button>
        <div class="mat-h1">Cares</div>
        <button mat-mini-fab matTooltip="Add Data" matTooltipPosition="right" class="add-btn-fab grow"
            (click)="openCaresFormModal()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-tab-group animationDuration="0ms" class="cares__tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                Data
                <mat-icon class="tab-icon">list</mat-icon>
            </ng-template>
            <app-cares-data-table></app-cares-data-table>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Metrics
                <mat-icon class="tab-icon">insights</mat-icon>
            </ng-template>
            Content 1
        </mat-tab>
    </mat-tab-group>
</div>